<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='components/semantic/dist/semantic.min.css') }}"/>
    {% block head %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>

<script src="{{ url_for('static', filename='components/jquery/dist/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='components/semantic/dist/semantic.min.js') }}"></script>
<!--<script src="{{ url_for('static', filename='components/semantic/dist/semantic.js') }}"></script>-->
<!--<script src="{{ url_for('static', filename='components/jquery/dist/jquery.js')}}"></script>-->

{% block js %}
{% endblock %}

</html>