{% extends 'base.html' %}
{% block head %}
{{ super() }}
<title>首页</title>

<style>
    body {
        background: url(/static/img/bg.jpg) no-repeat;
        background-size: 100% 100%;
        overflow:hidden;
    }
    #pk {
        position:relative;
        max-width: 700px;
        margin: 200px auto;
        padding: 100px;
    }
</style>
{% endblock %}


{% block content %}
{% include 'comp/header.html' %}
{% include 'comp/login.html' %}

<div class="ui container" id="container">
    {% with messages = get_flashed_messages(with_categories=ture) %}
        {% if messages %}
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div id="pk">
        <form action="{{url_for('.pk')}}" method="post" id="pk_form">
            {{form.csrf_token}}
            {{form.pk1()}}
            {{form.pk2()}}
            {{form.submit()}}
        </form>
    </div>

</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
<script>
    $(function(){
        $('#login').login();
    });
</script>


{% endblock %}