<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=ture) %}
    {% if messages %}
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
    {% endif %}
{% endwith %}


<div>
    已有账号, 去<a href="{{ url_for('users.login') }}">登陆</a>
</div>

<p></p>


<form action="{{url_for('users.register')}}" method="post">
    {{ form.csrf_token }}
    {{form.email.label}}: {{form.email()}}
    {{form.username.label}}: {{form.username()}}
    {{form.password.label}}: {{form.password()}}
    {{form.repeat.label}}: {{form.repeat()}}
    {{form.submit()}}
</form>

</body>
</html>